.idea/
Build/
cmake-build-debug/
*.bgeo
*.png
*.jpg
*.mp4
*.avi
Projects/Makefile
Projects/example/Makefile
Projects/main/Makefile
example_debug
main_debug
Projects/example/example
Projects/main/main